interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.usepylon.com/issue-statuses
  response:
    body:
      string: '{"data": [{"slug": "redacted-slug", "label": "[REDACTED]", "category":
        "new", "is_default_status": true, "is_archived": false}, {"slug": "redacted-slug",
        "label": "[REDACTED]", "category": "waiting_on_you", "is_default_status":
        true, "is_archived": false}, {"slug": "redacted-slug", "label": "[REDACTED]",
        "category": "waiting_on_customer", "is_default_status": true, "is_archived":
        false}, {"slug": "redacted-slug", "label": "[REDACTED]", "category": "on_hold",
        "is_default_status": true, "is_archived": false}, {"slug": "redacted-slug",
        "label": "[REDACTED]", "category": "on_hold", "is_default_status": false,
        "is_archived": false}, {"slug": "redacted-slug", "label": "[REDACTED]", "category":
        "on_hold", "is_default_status": false, "is_archived": true}, {"slug": "redacted-slug",
        "label": "[REDACTED]", "category": "closed", "is_default_status": true, "is_archived":
        false}, {"slug": "redacted-slug", "label": "[REDACTED]", "category": "closed",
        "is_default_status": false, "is_archived": true}, {"slug": "redacted-slug",
        "label": "[REDACTED]", "category": "closed", "is_default_status": false, "is_archived":
        false}, {"slug": "redacted-slug", "label": "[REDACTED]", "category": "closed",
        "is_default_status": false, "is_archived": true}], "request_id": "00000000-0000-0000-0000-000000000000"}'
    headers:
      content-type:
      - application/json
      x-pylon-request-id:
      - bbd5348a-b4ce-4c4a-9dfd-b5aa8ddac4a1
      x-rate-limit-remaining:
      - '29'
    status:
      code: 200
      message: OK
version: 1
