interactions:
- request:
    body: '{"query": "\nquery Team($key: String) {\n  teams(filter: { key: { eq: $key
      } }, first: 1) {\n    nodes {\n      id key name\n      issueEstimationType
      issueEstimationAllowZero issueEstimationExtended\n      cycles(last: 12) { nodes
      { number startsAt endsAt } }\n      states(first: 50) { nodes { id name type
      position } }\n    }\n  }\n}\n", "variables": {"key": "ORG"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.linear.app/graphql
  response:
    body:
      string: '{"data": {"teams": {"nodes": [{"id": "00000000-0000-0000-0000-000000000000",
        "key": "ORG", "name": "[REDACTED]", "issueEstimationType": "exponential",
        "issueEstimationAllowZero": true, "issueEstimationExtended": false, "cycles":
        {"nodes": [{"number": 55, "startsAt": "2000-01-01T00:00:00.000Z", "endsAt":
        "2000-01-01T00:00:00.000Z"}, {"number": 56, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 57, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 58, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 59, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 60, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 61, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 62, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 63, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 64, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 65, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}]}, "states": {"nodes": [{"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "completed", "position": 7204.6}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "completed", "position": -1065.11}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 6205.51}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 4184.37}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 3102.54}, {"id": "0000[...]
