interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.usepylon.com/accounts
  response:
    body:
      string: '{"data": [{"id": "00000000-0000-0000-0000-000000000000", "name": "[REDACTED]",
        "logo_url": "https://example.invalid/redacted", "owner": null, "domain": "[REDACTED]",
        "domains": ["[REDACTED]"], "primary_domain": "[REDACTED]", "type": "customer",
        "channels": [], "created_at": "2000-01-01T00:00:00.000Z", "updated_at": "2000-01-01T00:00:00.000Z",
        "tags": null, "custom_fields": {}, "latest_customer_activity_time": "2000-01-01T00:00:00.000Z",
        "external_ids": null, "crm_settings": {"details": [{"source": "hubspot", "id":
        "00000000-0000-0000-0000-000000000000"}]}, "is_disabled": false, "parent_account_id":
        null, "subaccount_ids": []}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "logo_url": "https://example.invalid/redacted", "owner":
        {"id": "00000000-0000-0000-0000-000000000000"}, "domain": "[REDACTED]", "domains":
        ["[REDACTED]"], "primary_domain": "[REDACTED]", "type": "customer", "channels":
        [], "created_at": "2000-01-01T00:00:00.000Z", "updated_at": "2000-01-01T00:00:00.000Z",
        "tags": ["[REDACTED]"], "custom_fields": {"account.hubspot.annualrevenue":
        {"value": "[REDACTED]"}, "account.hubspot.total_revenue": {"value": "[REDACTED]"}},
        "latest_customer_activity_time": "2000-01-01T00:00:00.000Z", "external_ids":
        null, "crm_settings": {"details": [{"source": "hubspot", "id": "00000000-0000-0000-0000-000000000000"}]},
        "is_disabled": false, "parent_account_id": null, "subaccount_ids": []}, {"id":
        "00000000-0000-0000-0000-000000000000", "name": "[REDACTED]", "logo_url":
        "https://example.invalid/redacted", "owner": null, "domain": "[REDACTED]",
        "domains": ["[[...]
