interactions:
- request:
    body: '{"query": "\nquery Projects($filter: ProjectFilter) {\n  projects(filter:
      $filter, first: 10) {\n    nodes {\n      id\n      name\n      url\n      slugId\n      startDate\n      targetDate\n      projectMilestones(first:
      50) { nodes { id name targetDate progress } }\n      teams(first: 10) {\n        nodes
      {\n          id\n          key\n          name\n          issueEstimationType\n          issueEstimationAllowZero\n          issueEstimationExtended\n          cycles(last:
      12) { nodes { number startsAt endsAt } }\n          states(first: 50) { nodes
      { id name type position } }\n        }\n      }\n    }\n  }\n}\n", "variables":
      {"filter": {}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.linear.app/graphql
  response:
    body:
      string: '{"data": {"projects": {"nodes": [{"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "url": "https://example.invalid/redacted", "slugId":
        "redacted-slug", "startDate": null, "targetDate": null, "projectMilestones":
        {"nodes": []}, "teams": {"nodes": [{"id": "00000000-0000-0000-0000-000000000000",
        "key": "ORG", "name": "[REDACTED]", "issueEstimationType": "exponential",
        "issueEstimationAllowZero": true, "issueEstimationExtended": false, "cycles":
        {"nodes": [{"number": 55, "startsAt": "2000-01-01T00:00:00.000Z", "endsAt":
        "2000-01-01T00:00:00.000Z"}, {"number": 56, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 57, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 58, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 59, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 60, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 61, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 62, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 63, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 64, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}, {"number": 65, "startsAt": "2000-01-01T00:00:00.000Z",
        "endsAt": "2000-01-01T00:00:00.000Z"}]}, "states": {"nodes": [{"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "completed", "position": 7204.6}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "completed", "position": -1065.11}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 6205.51}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 4184.37}, {"id": "00000000-0000-0000-0000-000000000000",
        "name": "[REDACTED]", "type": "canceled", "position": 3102.54}, {"id": "0000[...]
