interactions:
- request:
    body: '{"filter": {"field": "created_at", "operator": "time_range", "values":
      ["[REDACTED]", "[REDACTED]"]}, "limit": 100}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.usepylon.com/issues/search
  response:
    body:
      string: '{"data": [{"id": "00000000-0000-0000-0000-000000000000", "number":
        2293, "title": "[REDACTED]", "link": "https://example.invalid/redacted", "body_html":
        "[REDACTED]", "state": "redacted-slug", "account": {"id": "00000000-0000-0000-0000-000000000000",
        "external_ids": null}, "assignee": null, "requester": {"id": "00000000-0000-0000-0000-000000000000"},
        "team": null, "tags": null, "custom_fields": {"lifecycle_stage": {"value":
        "[REDACTED]"}, "priority": {"value": "[REDACTED]"}, "question_type": {"value":
        "[REDACTED]", "values": ["[REDACTED]"]}}, "first_response_time": null, "resolution_time":
        "2000-01-01T00:00:00.000Z", "first_resolution_time": "2000-01-01T00:00:00.000Z",
        "latest_message_time": "2000-01-01T00:00:00.000Z", "created_at": "2000-01-01T00:00:00.000Z",
        "updated_at": "2000-01-01T00:00:00.000Z", "customer_portal_visible": false,
        "source": "email", "workspace_email": "redacted@example.invalid", "type":
        "ticket", "is_issue_group": false, "resolution_seconds": 3, "business_hours_resolution_seconds":
        3, "number_of_touches": 0, "author_unverified": true, "time_in_status_seconds":
        {"open": "[REDACTED]"}, "business_hours_time_in_status_seconds": {"open":
        "[REDACTED]"}}, {"id": "00000000-0000-0000-0000-000000000000", "number": 2292,
        "title": "[REDACTED]", "link": "https://example.invalid/redacted", "body_html":
        "[REDACTED]", "state": "redacted-slug", "account": {"id": "00000000-0000-0000-0000-000000000000",
        "external_ids": null}, "assignee": {"id": "00000000-0000-0000-0000-000000000000"},
        "requester": {"id": "00000000-0000-0000-0000-000000000000"}, "team": {"id":
        "00000000-0000-0000-0000-000000000000"}, "tags": null, "custom_fields": {"chat_widget.app_id":
        {"value": "[REDACTED]"}, "chat_widget.browser": {"value": "[REDACTED]"}, "chat_widget.device_type":
        {"value": "[REDACTED]"}, "chat_widget.os": {"value": "[REDACTED]"}, "chat_widget.page_url":
        {"value": "[REDACTED]"}, "chat_widget.user_agent": {"value": "[REDACTED]"},
        "chat_widget.user_timezone": {"value": "[REDACTED]"}, "priority": {"value":
        "[REDACTED]"}, "question_type": {"value": "[REDACTED]", "values": ["[REDACTED]"]}},
        "first_response_time": "2000-01-01T00:00:00.000Z", "first_response_breach_time":
        "2000-01-01T00:00:00.000Z", "resolution_time": "2000-01-01T00:00:00.000Z",
        "first_resolution_time": "2000-01-01T00:00:00.000Z", "latest_message_time":
        "2000-01-01T00:00:00.000Z", "created_at": "2000-01-01T00:00:00.000Z", "updated_at":
        "2000-01-01T00:00:00.000Z", "customer_portal_visible": false, "source": "form",
        "workspace_email": "redacted@example.invalid", "type": "ticket", "is_issue_group":
        false, "first_response_seconds": 119156, "business_hours_first_response_seconds":
        119156, "resolution_seconds": 159843, "business_hours_resolution_seconds":
        159843, "team_slas": [{"team_id": "00000000-0000-0000-0000-000000000000",
        "resolution": {"time": "2000-01-01T00:00:00.000Z", "seconds": 1995282, "business_hours_seconds":
        1476882}, "first_resolution": {"time": "2000-01-01T00:00:00.000Z", "seconds":
        1995282, "business_hours_seconds": 1476882}}], "number_of_touches": 2, "author_unverified":
        false, "time_in_status_seconds": {"in_progress": "[REDACTED]", "on_hold":
        "[REDACTED]", "open": "[REDACTED]"}, "business_hours_time_in_status_seconds":
        {"in_progress": "[REDACTED]", "on_hold": "[REDACTED]", "open": "[REDACTED]"}},
        {"id": "00000000-0000-0000-0000-000000000000", "number": 2291, "title": "[REDACTED]",
        "link": "https://example.invalid/redacted", "body_html": "[REDACTED]", "state":
        "redacted-slug", "account": {"id": "00000000-0000-0000-0000-000000000000",
        "external_ids": null}, "assignee": {"id": "00000000-0000-0000-0000-000000000000"},
        "requester": {"id": "00000000-0000-0000-0000-000000000000"}, "team": null,
        "tags": null, "custom_fields": {"priority": {"value": "[REDACTED]"}, "question_type":
        {"value": "[REDACTED]", "values": ["[REDACTED]"]}}, "first_response_time":
        "2000-01-01T00:00:00.000Z", "resolution_time": "2000-01-01T00:00:00.000Z",
        "first_resolution_time": "2000-01-01T00:00:00.000Z", "latest_message_time":
        "2000-01-01T00:00:00.000Z", "created_at": "2000-01-01T00:00:00.000Z", "updated_at":
        "2000-01-01T00:00:00.000Z", "customer_portal_visible": false, "source": "email",
        "workspace_email": "redacted@example.invalid", "type": "ticket", "is_issue_group":
        false, "first_response_seconds": 4789, "business_hours_first_response_seconds":
        4789, "resolution_seconds": 599000, "business_hours_resolution_seconds": 426200,
        "number_of_touches": 3, "attachment_urls": ["https://example.invalid/redacted",
        "https://example.invalid/redacted", "https://example.invalid/redacted", "https://example.invalid/redacted",
        "https://example.invalid/redacted", "https://example.invalid/redacted", "https://example.invalid/redacted",
        "https://example.invalid/redacted", "https://example.invalid/redacted", "https://example.invalid/redacted",
        "https://example.invalid/redacted", "https://example.invalid/redacted", "https://example.invalid/redacted"[...]
- request:
    body: '{"filter": {"field": "created_at", "operator": "time_range", "values":
      ["[REDACTED]", "[REDACTED]"]}, "limit": 100, "cursor": "[REDACTED]"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.usepylon.com/issues/search
  response:
    body:
      string: '{"data": [{"id": "00000000-0000-0000-0000-000000000000", "number":
        2187, "title": "[REDACTED]", "link": "https://example.invalid/redacted", "body_html":
        "[REDACTED]", "state": "redacted-slug", "account": {"id": "00000000-0000-0000-0000-000000000000",
        "external_ids": null}, "assignee": {"id": "000000[...]
